*{
    margin: 0;
    padding: 0;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    background-color: #ffffc7;
}

.X{
    color: green;
}
.O{
    color: red;
}

body{
    background-color: #548687;
    text-align: center;
}

#game{
     display: flex;
    justify-content: center;
    align-items: center;
    height: 60vmin;
    width: 60vmin;
    flex-wrap: wrap;
    gap: 1.5vmin;
}
#outer{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#reset{
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #191913;
    color: white;
    border-radius: 1rem;
    border: none;
}
#new{
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #191913;
    color: white;
    border-radius: 1rem;
    border: none;
}
#msg{
    color: #ffffc7;
    font-size: 8vmin;
}
.msgcontainer{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide{
    display: none;
}